html,body{height: 100%; position: relative; top:0px; left: 0px; padding: 0px; margin: 0px; background-color: #F5F5F5;}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #CCCCCC;
}

/* 标题容器 */
.fps-title {
  /* 浮动置顶 */
  position: fixed; z-index: 100; width: 100%;top: 0px;
  /* 背景填充 */
  background-color: #FFFFFF;
  padding: 5px; margin-bottom: 6px;
  /* 阴影 */
  -moz-box-shadow: 1px 1px 5px #CCCCCC; /* 老的 Firefox */
  box-shadow: 1px 1px 5px #CCCCCC;
}

/* 内容容器 */
.fps-content {
  margin-top: 45px;
  background-color: #FFFFFF;
  /* 阴影 */
  -moz-box-shadow: 1px 1px 5px #CCCCCC; /* 老的 Firefox */
  box-shadow: 1px 1px 5px #CCCCCC;
}

.fps-content i{
  color: #606266;
  margin: 0 5px;
  font-size: 1.5em;
  vertical-align: middle;
}

.fps-detail-panel {
  padding: 10px;
  margin: 5px 0px;
  background-color: #FFFFFF;
  /* 阴影 */
  -moz-box-shadow: 1px 1px 5px #CCCCCC; /* 老的 Firefox */
  box-shadow: 1px 1px 5px #CCCCCC;
}

.text-align-left{text-align: left}
.text-align-right{text-align: right}
